.DS_Store
project.xcworkspace
xcuserdata

build/*
speed/*

test.*
testing/*

*.o
markdown_parser.c
/markdown
/multimarkdown
/multimarkdown.exe

/mac_installer/Resources/*.html
/mac_installer/Package_Root/usr/local/bin/multimarkdown

/windows_installer/README.txt
/windows_installer/*.zip
/windows_installer/*.exe
/windows_installer/*.xml.backup
/windows_installer/License.html

/old_zips/

/drag/

/manual/

*.pbxuser
*.perspectivev3

*Makefile*
*.user
*.1
*.0
*.so
multimarkdown
